body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.4;
	margin: 1em;
}

h1 {
	text-transform: lowercase;
}

h1 span {
	border-left: 4px solid #ff9f66;
	margin-left: 0.1em;
	padding-left: 0.1em;
}

a {
	color: #2077ce;
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#results > li {
	cursor: default;
	margin-left: -0.5em;
	padding: 0.5em;
}

#results > li:hover {
	background: #f9f9f9;
}

.details li {
	display: inline-block;
}

.details .artist {
	font-weight: bold;
}

.details .sources {
	display: none;
}

.details.active .sources {
	display: block;
}

.details .sources ul {
	margin: 0.5em 0;
}

.details .sources a {
	display: inline-block;
	max-width: 90vw;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.meta .tag {
	border-radius: 4px;
	border: 1px solid #d4d2c1;
	color: #444;
	display: inline-block;
	font-size: small;
	line-height: 1;
	padding: 0.2em;
}

#search {
	background: #fff5ef;
	border-radius: 0;
	border: 0;
	box-sizing: border-box;
	font-size: 1em;
	padding: 0.5em 0.3em;
	width: 100%;
}

#search:focus {
	background: #ffe6d6;
	outline: 0;
}

.hidden {
	display: none;
}

.loading .details .artist {
	height: 1.4em;
	background: #eee;
}

.loading #results > li:nth-child(5n) .artist {
	width: 50%;
}

.loading #results > li:nth-child(5n+1) .artist {
	width: 70%;
}

.loading #results > li:nth-child(5n+2) .artist {
	width: 60%;
}

.loading #results > li:nth-child(5n+3) .artist {
	width: 40%;
}

.loading #results > li:nth-child(5n+4) .artist {
	width: 30%;
}
